body {
    background-image: url('https://i.imgur.com/8WcVUQa.png');
    background-size: cover;
    background-clip: inherit;
    position: relative;
}

.header{
    padding-top: 20px;
    text-align: center;
}

.sub, h3{
    font-weight: normal;
}

.wrap{
    width: 95%;
    margin: auto;
}

footer{
    margin-top: 3%;
    text-align: center;
}